<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.estat.mob">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />

    <application
        android:name="app.estat.mob.ApplicationCore"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/ApplicationTheme">

        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/application_name"
            android:theme="@style/ApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.dashboard.DashboardActivity" />

        <activity android:name=".ui.module.FarmCardActivity" />

        <activity android:name=".ui.module.AverageProductivityActivity" />

        <activity android:name=".ui.module.MyCowsActivity" />

        <activity android:name=".ui.module.MilkProductionActivity" />

        <provider
            android:authorities="app.estat.mob.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

    </application>

</manifest>
