<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.estat.mob">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />

    <application
        android:name="app.estat.mob.ApplicationCore"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/ApplicationTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="">

        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.dashboard.DashboardActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.module.FarmCardActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.module.AverageProductivityActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.module.MyCowsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.module.MilkProductionActivity"
                  android:screenOrientation="portrait"/>

        <provider
            android:authorities="app.estat.mob.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

    </application>

</manifest>
